.navbar{
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0px 20px;
  border-radius: 10px;
  height: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
a{  
  font-size: 18px;
  text-decoration: none;
  transition: color 0.2s;
}
.nav-bar-active{
  color:#00b8d4;
}